.promo {
  padding: 50px 0;
  background-color: lightsteelblue;
  border-radius: 10px;
}

.promo-inner {
  margin: 0 auto;
  width: 1024px;

  @media (max-width: 1279px) {
    width: auto;
    max-width: 1024px;
  }
}

.promo-ttl {
  font-size: $h1-fz-desktop;
  font-weight: $h1-fw;

  @media (max-width: 1279px) {
    font-size: $h1-fz-tablet;
  }

  @media (max-width: 669px) {
    font-size: $h1-fz-mobile;
  }
}
